body {
    background-color: #222f3e;
}

.main {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.discord {
    border: 1px solid #7289DA;
    color: white;
    background-color: #7289DA;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.discord:hover{
    background-color: #4f6db0;
}

.discord:active{
    background-color: #3b5998;
}
<<<<<<< HEAD


=======
>>>>>>> d03d16fff36b9232a63ce314aff531f7f8e823e0
